header {
    height: 250px;
    background-image: url("../images/voiture1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
}

section {
    width: 100%;
    display: flex;
}

section nav {
    width: 15%;
    padding: 30px;
    border-right: solid black 1px;
}

section nav h4 {
    margin-top: 20px;
}

section nav p {
    margin-left: 20px;
}

article {
    margin-left: 40px;
    margin-top: 40px;
    width: 60%;
}

article h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

article h2 {
    font-size: 30px;
    padding-top: 100px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.title {
    text-align: center;
    font-size: 2em;
}

.corpsArticle p {
    padding: 0.2em;
    margin-inline: 0.1em;
}

#dernierCorpsArticle {
    margin-bottom: 4vh;
}

table {
    border: none;
    margin: 5px;
    border-collapse: collapse;
    width: 100%;
    padding-top: 100px;
}

#tableau {
    padding-top: 20px;
    padding-bottom: 20px;
}

th {
    border: none;
    height: 100px;
    padding: 5px;
    background-color: #D0E3FA;
}

td {
    border: thin solid #666;
    padding: 5px;
    height: 100px;
    text-align: center;
    background-color: #ffffff;
}

td.header {
    background-color: #666;
    color:white;
}

#video {
    margin-bottom: 1em;
}

.corpsArticleFlexImg {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.corpsArticleFlexImg img {
    width: 300px;
    height: 100%;
}

#iframeContainer {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section nav a {
    color: black;
}

@media only screen and (max-width: 1200px) {
    header {
        height: 400px;
    }
    article {
        width: 70%;
    }
}

@media only screen and (max-width: 1200px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    section nav {
        display: none;
    }
}