* {
	margin: 0;
	padding: 0;
}

footer img {
	height: 5em;
}

#flexFooter {
    background-color: #963333;
	color: white;
	display: flex;
	justify-content: space-evenly;
}

.infobox {
	text-align: center;
}

.infobox h3 {
	padding: 0.3em;
}

.mailLink {
	text-decoration: none !important;
	color: white !important;
}

footer img {
	height: 5em;
}

footer a {
    color: white;
}

@media only screen and (max-width: 1000px) {
    #flexFooter {
    	flex-direction: column-reverse;
    }
}