body {
	margin: 0px;
	padding: 0px;
	font-family: "Open Sans", sans-serif;
}

section {
	width: 100%;
	height: 100vh;
	background-color: #3F3F3F;
	background-size: cover;
}

section button {
	background-color: black;
	color: white;
	font-size: 30px;
}

.accesArticle {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70vh;
}

.descriptionArticle {
	font-size: 4em;
	color: white;
	text-align: center;
	margin-bottom: 0.5em;
	background: radial-gradient(rgba(0,0,0,0.25),transparent);
}

.articleButton {
	padding: 0.3em;
	border: none;
	background-color: rgba(0,0,0,0.5);
	border-radius: 0.2em;
}

.accesArticle button:hover {
	cursor: pointer;
}

#section1 {
	background-image: url("../images/voiture1.jpg");
}

#section2 {
	background-image: url("../images/voiture2.jpg");
}

#section3 {
	background-image: url("../images/voiture3.jpeg");
}

@media only screen and (max-width: 1200px) {
    .descriptionArticle {
        font-size: 2em;
    }
}