body {
    margin: 0;
    padding: 0;
}

#topNavigation {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    color: white;
    background: linear-gradient(#000000, transparent);
}

#topNavigation div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

#topNavigation img {
    display: block;
    width: 60px;
    height: 60px;
    position: relative;
    padding: 0.3em;
}

#topNavigation h1 {
    font-size: 1.5em;
}

#topNavigation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 45%;
}

#topNavigation li {
    display: flex;
}

#topNavigation a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    flex: auto;
}

#currentPage {
    border-bottom: solid 2px white !important;
}

@media only screen and (max-width: 1200px) {
    #topNavigation {
        flex-direction: column;
    }
    #topNavigation h1 {
        text-align: center;
    }
    #topNavigation ul {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    #topNavigation li {
        margin: 10px;
    }
    #topNavigation div {
        width: 35%;
    }
}